language: node_js

env:
  global:
    - dir_tmp_bin=/tmp/bin
    - PATH=$PATH:$dir_tmp_bin:/usr/games
    - PORT=9515
    - HOST='0.0.0.0'
    - HTTP_INTERFACE="$HOST:$PORT"
   # - HTTP_INTERFACE='http://127.0.0.1:4444/wd/hub'

    #$BROWSER
  matrix:
    - BROWSER=chrome
  #python:
  #  - "2.6"

before_install:
  - mkdir -p $dir_tmp_bin

before_script:
  # Setup headless X per http://about.travis-ci.org/docs/user/gui-and-headless-browsers/
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  #- 'if [ -n "$REMOTE_ARG" ]; then (java -jar selenium-server.jar > /dev/null &); fi'
  #- 'if [ -n "$REMOTE_ARG" ]; then sleep 60; fi'
  
script:
  - chmod u+x ./travis.sh
  - bash -c ./travis.sh

after_failure:
  - chmod u+x ./sh/test_something.sh
  - bash -c ./sh/test_something.sh
  #- "salad --browser $BROWSER $REMOTE_ARG salad/features --verbosity=2"
