language: node_js

cache: 
  - npm
  - apt
  
install:
  - sudo apt-get install -y -q curl
  - npm install -g se-interpreter
  
script:
  - chmod u+x ./curl/create_session.sh
  - bash -c ./curl/create_session.sh

after_script:
  - chmod u+x ./assert.sh
  - bash -c ./assert.sh
