language: node_js

cache: 
  - npm
  - apt
  
install:
  - sudo apt-get install -y -q curl
  - npm install -g se-interpreter
  

before_script:
  - "sh -e /etc/init.d/xvfb start"
  - "export DISPLAY=:99.0"


script:
  - chmod u+x ./travis.sh.sh
  - bash -c ./travis.sh
