language: node_js

env:
  global:
    - PATH=$PATH:/tmp/bin:/usr/games
    - REMOTE_ARG='--remote-url'
    - HTTP_INTERFACE='http://127.0.0.1:4444/wd/hub'

    #$BROWSER
  matrix:
    - BROWSER=chrome
     #- BROWSER=chrome
#python:
#  - "2.6"
#  - "2.7"
  #- "3.2" # Fails miserably in Python 3


before_script:
  # Setup headless X per http://about.travis-ci.org/docs/user/gui-and-headless-browsers/
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  #- 'if [ -n "$REMOTE_ARG" ]; then (java -jar selenium-server.jar > /dev/null &); fi'
  #- 'if [ -n "$REMOTE_ARG" ]; then sleep 60; fi'
  
script:
  - chmod u+x ./travis.sh
  - bash -c ./travis.sh
  
  #- "salad --browser $BROWSER $REMOTE_ARG salad/features --verbosity=2"
